<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="room_mapper">

	<insert id= "saveRoom" parameterType="com.app.dto.room.Room">
		INSERT INTO T_ROOM VALUES (
		 SEQ_T_ROOM_PK.nextval,
		 #{buildingName},
		 #{roomNumber},
		 #{floor},
		 #{maxGuestCount},
		 #{viewType}
	  )	
	</insert>


	<select id="findRoomList" resultType ="Room">
		SELECT * 
		FROM T_ROOM 
		ORDER BY room_id
	</select>





</mapper>